.pagination {
  margin: 2rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.page-item {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 1.7rem;
  cursor: pointer;
}

.page-selected {
  background-color: black;
  color: #fff;
}

.page-btn {
  background-color: black;
  color: #fff;
}
