.product-item {
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 25rem;

  object-fit: fill;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-details {
  padding: 1rem;
}

.product-prices {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product-price {
  font-size: 1.7rem;
  color: #c5c6d0;
  font-weight: 600;
  text-decoration: line-through;
}

.product-discountedprice {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.product-rating {
  font-size: 2rem;
}

.product-title {
  font-size: 2rem;
}

.product-discountedprice span {
  font-size: 1.5rem;
  color: #c5c6d0;
  font-weight: 400;
}

.product-description {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #808080;
}

.product-category {
  display: inline-block;
  padding: 0.5rem;
  font-weight: 600;
  background-color: #c5c6d0;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 100px;
  margin: 0.5rem 0;
}

.product-stocks {
  font-size: 1.5rem;
}
